<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365259488800-kv6vnl4p5b08qrj1vo2ul9d9l6o4kvk4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365259488800-kv6vnl4p5b08qrj1vo2ul9d9l6o4kvk4</string>
	<key>API_KEY</key>
	<string>AIzaSyAC4H19eNXaKRo-lGSZNjsmJzeSBBoy-mc</string>
	<key>GCM_SENDER_ID</key>
	<string>365259488800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eve.evephotography</string>
	<key>PROJECT_ID</key>
	<string>evealbum-b74e0</string>
	<key>STORAGE_BUCKET</key>
	<string>evealbum-b74e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365259488800:ios:b6078be81b03b127ca8645</string>
</dict>
</plist>